body{
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    background-color: transparent;
    box-shadow: none;
}
.nav {
    text-align: center;
    margin: 0 auto;
    width: max-content;
    padding-top:20px;
}
.nav a li{
    padding: 20px 30px;
    color: #fff;
    border: solid 2px transparent;
    border-width: 0%;
    transition: width .5s;
}
.nav a li:hover{
    border-bottom: solid 2px #44bd32;;
    color: rgb(231, 231, 231);
    border-width: 100%;
}
.nav a{
    font-size: 18px;
    text-decoration: none;
}
.home-img-bg{
    background-image: url('../images/home.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.home-color-bg{
    background-image: linear-gradient(360deg, #222f3e 0%, #222f3e 93%);
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    opacity: .9;
}

.home-container{
    display: flex;
    background-color: #222f3e;
    /* height: 100vh; */
    width: 100%;
    
    position: relative;
}
.nav-container{
    width: 100%;
    z-index: 100;
}

/* HOME CONTENT */
.home-content{
    color: #fff;
    display: flex;
}
.home-content h1{
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 600;
}
.left,.right{
    flex: 1;
}
.left{
    margin-top: 120px;
}
.left p{
    margin: 0;
    padding:0;
    font-size: 18px;
}
.left .get-started{
    margin-top:40px;
    padding: 12px 50px;
    outline-style: unset;
    border:none;
    background-color: #44bd32;
    color: #fff;
    font-size: 22px;
    transition: .4s;
}
.get-started:hover{
    background-color: #269514;
}
.right{
    text-align: right;
}

/* ABOUT CONTAINER */
.about-container{
    display: flex;
}
.about-container .container{
    padding:100px 0;
}
.about-container h2{
    margin-top: 40px;
    color: #293644;
    font-size: 60px;
}
.about-container .container .section-1{
    text-align: center;
    margin-bottom: 80px;
}
.about-container p{
    font-size: 30px;
    color: #676767;
    quotes: "“" "”" "‘" "’";
    border-left: solid 6px #67e081;
    color: #7d7d7d;
}
.about-container p:before{
    content: open-quote;
}
.about-container p:after{
    content: close-quote;
}
.section-2 .skills img{
    width: 50%;
    display: flex;
    margin: 10px auto;
}
.section-2{
    display:flex;
}
.skills{
    position: relative;
}

/* EXPERIENCE CONTAINER */
.experience-container{
    width: 100%;
    background-color: #192a56;
}

.experience-container .container{
    padding:140px 0;
}

.work-section{
    color: #fff;
    border-left: solid 4px #e910dc;
    margin: 50px 10px;
    padding: 50px 20px;
}
.work-section h2{
    font-size: 40px;
}
.work-section span{
    display: block;
    font-size: 24px;
}
.work-section a{
    color: white;
}
.experience-container .col-sm{
    background-color: #13234d;
    margin: 10px 10px;
    transition: .4s;
}
.experience-container .row{
    margin-bottom: 20px;
}
.experience-container a{
    text-decoration: none;
}

.experience-container .col-sm:hover{
    background-color: #34ace0;
}

/* EDUCATION CONTAINER */
.education-container .container{
    padding-top: 100px;
    display: flex;
    padding-bottom: 200px;
    height: 100vh;
}
.education-container .graduate-img img{
    width: 100%;
    bottom: 0;
    border-radius: 100%;
    border: solid 2px #222;
}
.education-container .row{
    display: flex;
}
.education-container .col-sm{
    position: relative;
    margin-top: 70px;
    border-left: solid 6px #fec94e;
}
.education-container .graduate-img{
    display: flex;
}
.school-logo{
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}
.school-logo img{
    width: 100%;
}
.project-content{
    padding-left: 20px;
    color: #192a56;
}
.project-content h1{
    font-size: 48px;
}
.project-content h2{
    font-size: 40px;
    margin-bottom:0;
}
.project-content h3{
    margin-bottom: 0;
}
.project-content span{
    margin-top:0;
    font-size: 62px;
    font-weight: 600;
}

/* WORK CONTAINER */
.work-container{
    height: 100vh;
}
.work-content{
    display: flex;
}
.work-left, .work-right{
    flex: 1;
}
.pg-content, .rr-content{
    margin: 150px;
    position: relative;
    height: 70vh;
    padding: 150px 50px;
}
.pg-content img{
    width: 100%;
}
.rr-content img{
    width: 100%;
}
.work-label span{
    padding: 15px;
    margin:0 auto;
    text-align: center;
    color: #fff;
}
.work-label{
    width: 100%;
    display: flex;
    background-color: #111;
    bottom: 0;
    position: fixed;
}
.work-left{
    background-color: #efbbe9;
}